<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Sign Up</title>
    
</head>
<body>
   
    <div class="login-container">
        <div class="login-box" id="login-box">
            <div class="login-left">
                <div class="logo-container">
                    <img src="/static/chrisel_logo.jpg" alt="Logo">
                    <h2>Chrisel Technolab</h2>
                </div>
                
                
            </div>
            <div class="login-right">
                <h2>Sign Up</h2>
               
                <form method="POST" action="/signup">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" id="username" name="username" placeholder="Enter your username" required>
                        <i class='bx bx-user' id="user-icon"></i>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" placeholder="Enter your password" required>
                        <i class='bx bx-lock-alt' id="lock-icon"></i>
                    </div>
                    <button type="submit">Sign Up</button>
                </form>
                <p>Already have an account? <a href="/login">Login here</a></p>
            </div>
        </div>
    </div>
    <script>
        function showError(message) {
        if (message) {
            alert(message);
        }
    }
        window.addEventListener('load', function() {
        const loginBox = document.getElementById('login-box');
        if (loginBox) {
            loginBox.classList.add('pop-up');
        }
        });
    </script>
</body>
</html>
